.formlay{
    color:red;
    margin: 5px;
}

label{
    text-transform: capitalize;
    color:white;
}

h1{
    color:white;
    padding: 50px;
    background: black;
    text-align: center;
    border: solid 5px;
    margin: 10px;
}

.button1{
    color:white;
    background-color:black;
    border: solid 2px;
    border-color: white;
}

.button2{
    color:white;
    background-color: black;
    border: solid 2px;
    border-color: white;
}

body{
    background-color: black;
    text-align: center;
    background-image: url("https://thumbs.gfycat.com/CompetentWeirdAstrangiacoral-size_restricted.gif");
}
